<% include partials/header%>
    
    <body style="background-color: #007eff;  background-repeat: no-repeat; max-height: 100%; background-size: 1366px 720px;" background="zz.jpg">
<div class="container">
 <div  style="background-color: #000000cc; margin-left: 8%; margin-right: 6%; height: 60%;">
<h2 style="font-family: Broadway; color: yellow; font-size: 28px; padding: 10px; padding-left: 32px; ">Confirmation</h2>

<hr style=" background-color: aliceblue;">
<h3 style="color: whitesmoke;">Hey Your ride is booked !!!!...</h3>
<br>
<p style="color: whitesmoke;">A confirmation message is sent to your Contact Number</p>
</div>
</div>
<% include partials/footer%>