<% include partials/header%>
<body style="background-color: #007eff;  background-repeat: no-repeat; max-height: 100%; background-size: 1366px 720px; 1366px;" background="zz.jpg">
        <div  style="background-color: #000000cc; margin-left: 22%; margin-right: 20%;">
        
            <h1 style="font-family: Broadway; color: yellow; font-size: 28px; padding: 10px; padding-left: 15px; ">Contact Us</h1>
            <br>
        
        
        
        <div class="container">
            <h3 style="color:whitesmoke;">We know we are not that good but we are in the process of improvement.Please help us improve.Your Feedback is valuable.</h3>
            <br>
            <h3 style="color:whitesmoke;"> In case of any Queries or Feedback</h3>
            <br>
            <h3 style="color:whitesmoke;">Feel free to reach us   @ lyftcabs6021@gmail.com</h3>
        </div>

        </div>    
<% include partials/footer%>