<% include partials/header%>
<body style="background-color: #007eff;  background-repeat: no-repeat; max-height: 100%; background-size: 1366px 720px; 1366px;" background="zz.jpg">
 <div  style="background-color: #000000cc; margin-left: 8%; margin-right: 6%; margin-top: 5%;">
        
            <h3 style="font-family: Broadway; color: yellow; font-size: 28px; padding: 10px; padding-left: 15px; text-decoration-line: underline;">Our Plans</h3><hr style=" background-color: aliceblue;">
        
        
            <table class="table">
                <thead class="thead-dark">
                    <tr style="color: greenyellow;">
                        <th scope="col">S.no.</th>
                        <th scope="col">Type of Vehicle</th>
                        <th scope="col">Base Price</th>
                        <th scope="col">Price per km</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="color: whitesmoke;">
                        <th scope="row">1</th>
                        <td>Bike</td>
                        <td>15RS</td>
                        <td>4RS/km</td>
                    </tr>
                    <tr style="color: whitesmoke;">
                        <th scope="row">2</th>
                        <td>Micro</td>
                        <td>25RS</td>
                        <td>5RS/km</td>
                    </tr>
                    <tr style="color: whitesmoke;">
                        <th scope="row">3</th>
                        <td>Mini </td>
                        <td>30RS</td>
                        <td>6RS/km</td>
                    </tr>
                    <tr style="color: whitesmoke;">
                        <th scope="row">3</th>
                        <td>Sedan </td>
                        <td>40RS</td>
                        <td>8RS/km</td>
                    </tr>
                    
                </tbody>
            </table>
        
        

        </div>
        
            
        
        

        </div>
        
            
<% include partials/footer%>