<% include partials/header%>
 <body style="background-color: #007eff;  background-repeat: no-repeat; max-height: 100%; background-size: 1366px 720px; 1366px;" background="zz.jpg">
        
    <table class="table table-dark" style="font-size: 20px; background-color:  #000000cc; margin-top: -3%;">
    <thead>
      <tr>
        <th>First Name</th><br>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=firstname%></td><br>
        
      </tr>
      
    </tbody>
  </table>
     <table class="table table-dark" style="font-size: 20px; background-color:  #000000cc; margin-top: -3%;">
    <thead>
      <tr>
        <th>Surname</th><br>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=surname%></td><br>
        
      </tr>
      
    </tbody>
  </table>    
         
        
        
         <table class="table table-dark" style="font-size: 20px; background-color:  #000000cc;">
    <thead>
      <tr>
        
        
        <th>Username</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td><%=username%></td>
        
      </tr>
      
    </tbody>
  </table>
        
        
         
        
        
        
         <table class="table table-dark" style="font-size: 20px; background-color:  #000000cc;">
    <thead>
      <tr>
        
        <th>Contact No.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td><%=number%></td>
      </tr>
      
    </tbody>
  </table>
        
        
        
        

        </div>




    
 <% include partials/footer%>