<% include partials/header%>
<br>
<body style="background-color: #007eff;  background-repeat: no-repeat; max-height: 100%; background-size: 1366px 720px; 1366px;" background="zz.jpg">
<div style="background-color: #000000cc; margin-left: 30%; margin-top: -1.8%; height: 85%; width: 35%;">
<h3 style="font-family: Broadway; color: yellow; font-size: 28px; padding: 10px; padding-left: 20px; ">Create an Account</h3><hr style=" background-color: aliceblue;">
<div class="container">
            
            <form  action="/register" method="POST">
               
                <div class="form-group" >
                    <label for="name" style="color: white; font-size: 15px;">First Name</label>
                    <input type="Name" class="form-control" id="name" placeholder="Enter First Name..." style="font-size: 15px;"  name="firstname" required>
                </div>
                
                <div class="form-group" >
                    <label for="name" style="color: white; font-size: 15px;">Surname</label>
                    <input type="Name" class="form-control" id="name" placeholder="Enter Surname..." style="font-size: 15px;"  name="surname" required>
                </div>
                
                
                <div class="form-group" >
                    <label for="email" style="color: white; font-size: 15px;">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email..." style="font-size: 15px;" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"  name="username" required>
                </div>
                
                <div class="form-group" >
                    <label for="phone" style="color: white; font-size: 15px;">Phone No.:</label>
                    <input type="phone" class="form-control" id="phone" placeholder="Enter phone number..." style="font-size: 15px;" pattern="(7|8|9)\d{9}" name="number" required>
                </div>
                
                <div class="form-group" >
                    <label for="subject" style="color: white; font-size: 15px;">Password</label>
                    <input type="sbject" class="form-control" id="subject" placeholder="Enter your password here..." style="font-size: 15px;" name="password" required>
                </div><hr style="background-color: aliceblue;">
                
                
               
                <button type="submit" class="btn btn-default" style=" background-color: greenyellow; font-size: 15px; margin-left: 20%; font-family: Broadway; padding-left: 20%; padding-right: 20%;">Create</button>
            </form>
        </div>

        </div>
<% include partials/footer%>